<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.chilerad.com"><img src="/public/images/lg2.png" alt="Dispute Bills">
            </a>
            <!-- <a class="navbar-brand" href="/">CHILERAD</a> -->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">PANEL <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">Usuarios</a></li>
                        <li><a href="/roles">Permisos</a></li>
                        <li><a href="/role">Tipos de Usuario</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examenes <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/student">Mis Examenes</a></li>
                        <li><a href="/parent">Urgentes</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/level">Asignados</a></li>
                        <li><a href="/lesson">Sin Informar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/course_lesson">Búsqueda</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/grades">Examenes</a></li>
                        <li><a href="/comments">Permisos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/grades">Producción</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cuenta <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/change_password">Cambiar Contraseña</a></li>
                        <li><a href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
