{{!< layout/default}}
{{#extend "css"}}
    <link rel="stylesheet" type="text/css" href="/public/tools/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" href="/public/tools/DataTables/media/css/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/public/tools/DataTables/extensions/Responsive/css/responsive.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/public/tools/DataTables/extensions/Select/css/select.bootstrap.css" />
    <!-- Many more Header insertions  -->
{{/extend}}
{{> header}}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="hidden-xs hidden-sm  text-center">
                    <span class="label" style="background: red;">No Visto</span>
                    <span class="label" style="background: #2271BA;">Solicitado</span>
                    <span class="label" style="background: orange;">Asignado</span>
                    <span class="label" style="background: grey;">En Proceso</span>
                    <span class="label" style="background: green">Validado</span>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="idate">
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="fdate">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table id="dTable" class="table table-condensed" summary="" style="width:100%;">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Estado</th>
                            <th>Paciente</th>
                            <th>Fecha</th>
                            <th>Desc</th>
                            <th>Institución</th>
                            <th>Nº IMG</th>
                            <th>Solicitud</th>
                            <th>Mod</th>
                            <th class="all">Prioridad</th>
                            <th>Chat</th>
                            <th>Crítico</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{{#extend "js"}}
    <!-- Many more JS insertions  -->
    <script type="text/javascript" src="/public/tools/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/public/tools/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/tools/DataTables/extensions/Responsive/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="/public/tools/DataTables/extensions/Responsive/js/responsive.bootstrap.js"></script>
    <script type="text/javascript" src="/public/tools/DataTables/extensions/Select/js/dataTables.select.js"></script>
    <script type="text/javascript" src="/public/tools/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/public/tools/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
    <script type="text/javascript" src="/public/js/app/exams/datatables.js"></script>
    <script type="text/javascript" src="/public/js/app/exams/controller.js"></script>
    <script type="text/javascript" src="/public/js/app/exams/main.js"></script>
{{/extend}}
