[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.modal.modal-wide .modal-dialog {
    width: 60%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

.fa-select {
    font-family: Arial, 'FontAwesome';
}

.validated {
    color: green;
}

.unviewed {
    color: red;
}

.requested {
    color: #2271BA;
}

.in-process {
    color: grey;
}

.badge-notify {
    position: relative;
    top: -14px;
    left: -11px;
}

.chat-icon-container {
    cursor: pointer;
}

.chat-read {
    background: rgba(124, 137, 175, 0.85) !important;
}

.chat-unread {
    background: rgba(202, 36, 36, 0.85) !important;
}
